# Include project info
include README.md
include LICENSE.txt
include pyproject.toml
include setup.py

# Include extension module
include premake5.lua
recursive-include src/itaxotools/_popart_networks *
recursive-include src/popart *
